@mixin rangeThumb {
  width: 15px;
  height: 15px;
  margin: -6px 0 0;
  border-radius: 50%;
  background-color: #37adbf;
  outline: 4px solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px 5px,
    rgba(0, 0, 0, 0.3) 0px 3px 5px 0px;
  cursor: pointer;
}

@mixin rangeTrack {
  height: 4px;
  border-radius: 1.5px;
  cursor: pointer;
}

.slider {
  width: 350px;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;

  .valueContainer {
    height: 50px;
    font-weight: 700;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .percentage {
      padding: 0 25px;
      font-size: 14px;
      color: gray;
    }
  }

  .valueSlider {
    position: relative;
    padding: 20px 0 30px 0;
    .valueRange {
      position: absolute;
      width: 100%;
      outline: none;
      background: none;
      -webkit-appearance: none;
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include rangeThumb;
      }
      &::-moz-range-thumb {
        @include rangeThumb;
      }
      &::-ms-thumb {
        @include rangeThumb;
      }
      &::-webkit-slider-runnable-track {
        @include rangeTrack;
      }
      &::-moz-range-track {
        @include rangeTrack;
      }
      &::-ms-track {
        @include rangeTrack;
      }
      &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .dots {
    top: 14px;
    width: 120%;
    display: flex;
    justify-content: space-around;
    margin-left: -35px;
    position: absolute;
    z-index: -1;
    .dot {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: lightgray;
      &.colored {
        background-color: #37adbf;
      }
    }
  }

  .valueStep {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .step {
      list-style: none;
      width: 40px;
      height: 20px;
      font-size: 12px;
      border-radius: 10px;
      background-color: lightgray;
      color: gray;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: #37adbf;
      }
    }
  }
}
